# === Gmail SMTP Credentials ===
EMAIL_USER=
EMAIL_PASS=

# === textbee.dev Credentials ===
TEXTBEE_DEVICE_ID=
TEXTBEE_API_KEY=

# === Vercel KV REST Credentials ===
KV_REST_API_READ_ONLY_TOKEN=
KV_REST_API_TOKEN=
KV_REST_API_URL=
KV_URL=
REDIS_URL=